
.normal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}
.button{
  margin-bottom: 30px;
  width: 150px;
  height: 35px;
  background-color: #0089D1;
}
.textSpan{
  font-size: 10px !important;
  font-weight: 400;
}
.imageContainer{
  position: absolute;
  width: 100%;
  height: 100%;
}
.image{
  width: 100%;
  height: 100%;
}
.selectContainer{
  background-image: url("../../assets/select_bg.png");
  background-size: cover;
  width: 300px;
  height:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  z-index: 10;
}
