
.normal {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.printWrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  padding-top: 40px;
}
.tableContainer{
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 950px;
  padding-left: 15px;
  padding-right: 15px;
}
.tableContainer td{
  font-size: 13px;
  font-weight: 900;
  background-color: white;
  text-align: center!important;
}
.tableContainer th{
  text-align: center!important;
}
.selectContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  top:60px;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  max-width: 950px;
  padding-left: 15px;
  padding-right: 15px;
}

.tableContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.itemContainer{
  display: flex;
  flex-direction: column;
  width: 150px;
}

.itemTop{
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
}
.topItemContainer{
  display: flex;
  flex-direction: row;
}
.itemBottom{
  display: flex;
  flex-direction: row;
}
.titleText{
  text-align: center;
  vertical-align: center;
  font-size: 15px;
  color:black;
  letter-spacing:2px;
  font-weight: 600;
  align-self: center;
  width: 100%;
  margin-bottom: 10px;
}

